@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');

body{
  margin: 0px !important;
  padding: 0px !important;
  margin-block-end:0px;
  margin-block-start:0px;
  margin-inline-start:0px;
  margin-inline-end:0px;
}
 .carousel .slider-wrapper{
  width: 65% !important;
}

#ourblog_containercard__865_3 > div > div > div.carousel.carousel-slider > div > ul > li > div > div > div > div.ourblog_containeravatar__tSiYO > img{
  width: 50px;
  height: 50px;
}
#ourblog_containercard__865_3 > div > div > div.carousel.carousel-slider > button.control-arrow.control-next{
  display: none;
}
#ourblog_containercard__865_3 > div > div > div.carousel.carousel-slider > p{
  display: none;
}
#ourblog_containercard__865_3 > div > div > div.carousel.carousel-slider > div > ul > li:nth-child(2) > div > div > div > div.ourblog_spaceBetween__fXw4I > img{
  width: 10%;
}
.box{
  margin: 0;
}