.btn{
    display: flex;
    background-color: white;
    border-radius: 50px;
    width: 150px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 0px 20px;
    font-weight: 700;
    font-family: poppins;
    font-size: 20px;
    color: #4A4949;
}