---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="SilkDev offers expert web development services, specializing in Nuxt development. We provide tailored, technology-first solutions to meet your business needs. Contact us today!">
		<meta name="keywords" content="Web Development, Astro Development, Angular Development, Web Design, Custom Web Solutions, Technology-first Web Development">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="SilkDev">
		<meta http-equiv="content-language" content="en">
		<title>Silkdev: Expert Web Development Services</title>

		<link rel=preconnect href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>