---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico">
		<meta name="generator" content={Astro.generator}>
		<meta name="description" content="Silkdev offers expert web development services, specializing in Nuxt development. We provide tailored, technology-first solutions to meet your business needs. Contact us today!">
		<meta property="og:description" content="Immerse yourself in the world of innovative software solutions with SilkDev, a trailblazing software development company that turns ideas into cutting-edge digital realities. Our expert team of developers, designers, and visionaries work seamlessly to transform your concepts into intuitive and impactful software experiences.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://silkdev.com.tn">
		<meta property="og:image" content="https://silkdev.com.tn/images/og-image.jpg">
		<meta property="og:site_name" content="silkdev.com.tn">
		<meta name="keywords" content="Web Development, Astro Development, Angular Development, Web Design, Custom Web Solutions, Technology-first Web Development">
		<meta name="robots" content="index, follow">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Silkdev">
		<meta http-equiv="content-language" content="en">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="apple-mobile-web-app-title" content="SilkDev">
		<meta name="theme-color" content="#ffffff">
		<title>Silkdev: Expert Web Development Services</title>
	
		<link rel=preconnect href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>
