@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');


@media only screen and (min-width: 601px){
    .body{
        background-color: #1E1E1E;
        width: 100vw;
        height:60vh;
    }
   
    .mobile{display:none}
    .main{
        display: flex;
        flex-direction: row;
        gap: 9rem;
        padding: 40px;
        padding-top: 8%;
    
    }
.linkscolumn{
    display: flex;
    flex-direction: column;
   
}
.contactcolumn{
    display: flex;
    flex-direction: column;
   
}
.contactrow1{
    display: flex;
    flex-direction: row;

}
.contactrow2{
    display: flex;
    flex-direction: row;

}
.socialcolumn{
    display: flex;
    flex-direction: column; 
}
.icons{
    display: flex;
    flex-direction: row; 
    gap:2rem;
    margin-top:7%;
}
.h1{
    color: var(--White, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.a{
    color: var(--White, #FFF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 30px;
text-decoration:none
}
.contactcolumna{
    margin-top:0%
}
.diva{
    margin-top:0%
}}
@media only screen and (max-width: 600px){
    .body{
        background-color: #1E1E1E;
        width: 100vw;
        height: 102vh;
    }
    .desktop{
        display:none
    }
.footer{width: 218px;
height: 110px;}
.main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 40px;

}
.linkscolumn{
display: flex;
flex-direction: column;

}
.contactcolumn{
display: flex;
flex-direction: column;

}
.contactrow1{
display: flex;
flex-direction: row;

}
.contactrow2{
display: flex;
flex-direction: row;

}
.socialcolumn{
display: flex;
flex-direction: column; 
}
.icons{
display: flex;
flex-direction: row; 
gap:2rem;
margin-top:7%;
}
.h1{
color: var(--White, #FFF);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.a{
color: var(--White, #FFF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 30px;
text-decoration:none
}
.contactcolumna{
margin-top:0%
}
.diva{
margin-top:0%
}



}